{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About</h5>
    <div class="card-body">
        <p class="card-text">This blog app was built as an interview coding challenge l, the app may be flawed but all the basic functionalities work, it has been built using django on the backend and using basic HTML with some bootstrap stylings. More features may follow soon, please stay tuned</p>
        <a href="https://www.github.com/kc-clintone" class="btn btn-secondary">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}
